.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: rgba(233, 23, 23, 0.781);
  border: 1px solid #030101;
  color: rgb(0, 0, 0); 
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: rgba(233, 23, 23, 0.356);
  border-color: #641e03;
}